:root {
    /* cores */
    --bg-color: #0f0f12;
    --subbg-color: #121212;
    --card-bg-color: #1a1a1a;
    --text-color: #eaeaea;
    --surface-color: #16161a;
    --legend-color: #a3a3a3;
    --active-color: #24d08c;
    --separation: rgba(255, 255, 255, 0.12);

    --radius: 10px;
    --shadow: 0 8px 28px rgba(0, 0, 0, 0.45);
}